@use '../../../styles/media' as *;

.promo {
  min-height: 650px;
  background-image: url('./../../../assets/Rectangle\ 29.png');
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;

  @include for-tablet-landscape {
    min-height: 500px;
  }

  @include for-tablet-portrait {
    align-items: flex-start;
    padding-top: 40px;
  }
}

.content {
  max-width: 395px;
  padding: 0 15px;
  text-align: center;
  color: #fff;
}

.text {
  margin-bottom: 32px;
}
